



a{
    text-decoration: none;
    color: inherit;
}


ul{
    list-style-type: none;
}



/* navbar */

.my-nav .nav-link.active{
    
    position: relative;
}




.my-nav .nav-link.active::after{
    content: "";
    width: 100%;
    height: 1.5px;
    background-color:white;
    display: block;
    position: absolute;
     bottom: 0;
    left: 0; 

}

.my-nav {
    background-color: rgba(1,1,1,0.);
}





/* header */


.home{
height: 100vh;
    background-image:linear-gradient(to right , rgba(0,0,0,0.49)) ,url(../img/bg.jpg);
    background-position: center;
    background-size: cover;


    
}
 


.home span{
    font-size: 60px;
    font-weight: lighter;
}
.home .span1{
    font-weight: 400;
}







.home .span1::after{
content: "";
animation: typing 8s infinite;
}


@keyframes typing{

0%{
    content: "d|";
}
1.7%{
    content: "de|";
}
3.4%{
    content: "dev|";
}
5.1%{
    content: "deve|";
}
6.8%{
    content: "devel|";
}
8.5%{
    content: "develo|";
}
10.2%{
    content: "develop|";
}
11.9%{
    content: "develope|";
}
13.6%{
    content: "developer|";
}
15.3%{
    
 content: "develope|";
}
17%{
     content: "develop|";
}
18.7%{
     content: "develo|";
}
20.4%{
     content: "devel|";
}
22.1%{
     content: "deve|";
}
23.8%{
     content: "dev|";
}
25.5%{
     content: "de|";
}
27.2%{
     content: "d|";
}
28.9%{
     content: "de|";
}

30.6%{
     content: "des|";
}
32.3%{
     content: "desi|";
}
34%{
     content: "desig|";
}
35.7%{
     content: "design|";
}
37.4%{
     content: "designe|";
}
39.1%{
     content: "designer|";
}
40.8%{
     content: "designe|";
}
42.5%{
     content: "design|";
}
44.2%{
     content: "desig|";
}
45.9%{
     content: "desi|";
}
47.6%{
     content: "des|";
}
49.3%{
     content: "de|";
}
51%{
     content: "d|";
}
52.7%{
     content: "l|";
}
54.4%{
     content: "la|";
}
56.1%{
     content: "lar|";
}
57.8%{
     content: "larr|";
}
59.5%{
     content: "larry|";
}
/* 61.2%{
     content: "|";
}
62.9%{
     content: "|";
} */
61.2%{
     content: "larryd|";
}
62.9%{
     content: "larryda|";
}
64.6%{
     content: "larrydan|";
}
66.3%{
    content: "larrydann";
}
68%{
    content: "larrydanni";
}
69.7%{
     content: "larrydannie|";
}
71.4%{
     content: "larrydanniel|";
}
73.1%{
     content: "larrydanniels|";
}
74.8%{
     content: "larrydanniel|";
}

76.5%{
     content: "larrydannie|";
}

78.2%{
     content: "larrydanni|";
}


79.9%{
     content: "larrydann|";
}



81.6%{
     content: "larrydan|";
}



83.3%{
     content: "larryda|";
}


85%{
     content: "larryd|";
}


86.7%{
     content: "larry|";
}


88.4%{
     content: "larr|";
}



90.1%{
     content: "lar|";
}



91.8%{
     content: "la|";
}



93.5%{
     content: "l|";
}



    90% {
        content: " |";
    }

    /* Restart cleanly */
    100% {
        content: " | ";
    }
}



.home .iconhome{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: black;
    color: white;
   display: flex;
    align-items: center;
    justify-content: center;
}
 

/* about */

.p-about{
     font-size: 17px;
}

.about-img img{
     display: inline;
     height: 50%;
     width: 78%;
     margin-left: 120px;
}
.progress{
     height: 25px;
}


.about button{
     background-color: black;
     color: white;
     border-radius: 10px;
     height: 35px;
}

.about button:hover{
     background-color: white;
     color: black;
}


/* services */

.services{
     background-color: #F7F7F7;
}

.services .services-title h1{
    
    position: relative;
}


.services .services-title h1::after{

     content: "";
display: block;
width: 155px;
left: 44%;
bottom: -5px;
   border-bottom: 5px dotted  gray;  
   position: absolute;

}





 .services .icon{
     width: 60px;
     height: 60px;
background-color:#F7F7F7 ;
color: black;
border-radius: 50%;
border: 1.5px solid #F7F7F7;

}


.services .icon:hover{
      width: 60px;
     height: 60px;
background-color:black;
color: white;
border-radius: 50%;
border: 1.5px solid black;

}

/* portfolio */
 
.nav-underline .nav-link{

     font-weight: bolder;
     font-size: 20px;
     color: black;
}


.portfolio .inner .layer{
     background-color: white;
     opacity: 0;
     transition: all 0.3s ease-in;
     border: 4px solid  gray;
     overflow: hidden;
     
}

.portfolio .inner:hover .layer{
     opacity: 1;
}

.portfolio .inner .layer .portfolio-icon .icon11{
     width: 40px;
     height: 40px;
     border-radius: 50%;
     background-color: black;
     color: white;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
}


   

.portfolio .container{
     width: 80%;
}





.portfolio .portfolio-title h1{
    
    position: relative;
}


.portfolio .portfolio-title h1::after{

     content: "";
display: block;
width: 155px;
left: 44%;
bottom: -10px;
   border-bottom: 5px dotted  gray;  
   position: absolute;

}

.portfolio .inner .layer .content {
     transform: translateY(250%);
     transition: all 0.2s .01s ease-in;
}

.portfolio .inner .layer:hover .content{
     transform: translateY(0);
}




/* carousel */



.carousel {
}
 .carousel-indicators [data-bs-target]{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: gray;
 }

.carousel-img img{
     width: 150px;
}


 .carousel .container-fluid{
     background-color: #F7F7F7;
 }



/* counter */


.counter .icon{
     color: black;
     font-size: 250px;
}

.counter p{
     color: gray;
}

.counter .container{
     width: 70%;
}

.counter .its{
     color: black;
      
}


/* 
card2 */


 .card2 .card .card-body{
     background-color: gray;
     color: white;
    
}
 


.card2 .inner .card .icon44{
     width: 20px;
     height: 20px;
   border: 20px solid black;
    border-radius: 50%;
     color: white;
     display: flex;
     align-items: center;
     justify-content: center;
     
}


.card2 .card .layer2{
opacity: 0;
     border: rgba(0,0,0,0.1) 4px solid;
background-color: white;
transition: transform 3s;
}



.card2 .layer2:hover{
     opacity: 1;
     transform: rotateY(360deg);
     

     
}


.card2 .container {

     width: 80%;
}

.card2{
     background-color: #F7F7F7;
}

/* 
contact us  */


.contact .content1{
     text-align: center;
     color: black;
}

.contact .container{
     width: 70%;
}

.contact  .item{
     background-color: #F4F4F4 !important;
     
}
.contact button{
     width: 150px;
}

.footer .container-fluid{
     height: 100px;
}

.contact .content1 .icon100{
width: 25px;
height: 25px;
border-radius: 50%;
border: 25px gray solid;
margin: 10px 75px;
display: flex;
align-items: center;
justify-content: center;
}

.contact .content1 .icon100:hover{
     width: 25px;
height: 25px;
     border: black 25px solid;
     color: white;
}

